import logging

########################################################################
#
#   General options

### Logging
log_level = logging.INFO
log_format = '%(asctime)s %(levelname)s %(name)s: %(message)s'

### Server
listening_ip = "0.0.0.0"
listening_port = 8080

########################################################################
#
#   GPIO Setup (BCM SoC Numbering Schema)
#
#   Check the RasPi docs to see where these GPIOs are
#   connected on the P1 header for your board type/rev.
#   These were tested on a Pi B Rev2 but of course you
#   can use whichever GPIO you prefer/have available.

gpio_pigi = 4  # Geiger-Counter input
               # we expect a falling edge for every event

########################################################################
#
#   Simulation parameters

# from http://en.wikipedia.org/wiki/Sievert#Dose_rate_examples
# values in microsievert per hour
sim_dose_rate_list = {
    "background" : 0.27,
    "background-airplane":  2.7,
    "high-radiation-area": 1000,
    "fukushima": 10000000
}

sim_dose_rate = sim_dose_rate_list["background-airplane"]
